

*.o
*.dep
*.dep2
*~
*.orig
Makefile*

callgrind.out*
leak.out*
core*

gameSource/OneLife
gameSource/testUser/*
gameSource/testUser2/*
gameSource/recordedGames/*
gameSource/screenShots/*

server/OneLifeServer
server/log.txt
server/recentPlacements.txt
server/*.db
server/backups/
server/failureLog/
server/foodLog/
server/lifeLog/
server/categories
server/objects
server/transitions
gameSource/graphics/bigPointer.tga
gameSource/graphics/cellBorder.tga
gameSource/graphics/cellFill.tga
gameSource/graphics/chalkBlot.tga
gameSource/graphics/font_32_64.tga
gameSource/graphics/font_handwriting_32_32.tga
gameSource/graphics/font_pencil_32_32.tga
gameSource/graphics/font_pencil_erased_32_32.tga
gameSource/graphics/fullSlip.tga
gameSource/graphics/ground_t0.tga
gameSource/graphics/ground_t1.tga
gameSource/graphics/ground_t2.tga
gameSource/graphics/ground_t3.tga
gameSource/graphics/guiBlood.tga
gameSource/graphics/guiPanel.tga
gameSource/graphics/hiddenFieldTexture.tga
gameSource/graphics/hintSheet1.tga
gameSource/graphics/hintSheet2.tga
gameSource/graphics/hintSheet3.tga
gameSource/graphics/hintSheet4.tga
gameSource/graphics/homeArrows.tga
gameSource/graphics/homeArrowsErased.tga
gameSource/graphics/homeSlip.tga
gameSource/graphics/hungerBars.tga
gameSource/graphics/hungerBarsErased.tga
gameSource/graphics/hungerBoxes.tga
gameSource/graphics/hungerBoxesErased.tga
gameSource/graphics/hungerBoxFills.tga
gameSource/graphics/hungerBoxFillsErased.tga
gameSource/graphics/hungerDashes.tga
gameSource/graphics/hungerDashesErased.tga
gameSource/graphics/hungrySlip.tga
gameSource/graphics/instructions.tga
gameSource/graphics/notePaper.tga
gameSource/graphics/pathMark.tga
gameSource/graphics/starvingSlip.tga
gameSource/graphics/tempArrows.tga
gameSource/graphics/tempArrowsErased.tga
gameSource/graphics/yumSlip1.tga
gameSource/graphics/yumSlip2.tga
gameSource/graphics/yumSlip3.tga
gameSource/graphics/yumSlip4.tga
gameSource/icon.ico
gameSource/icon.rc
gameSource/OneLife.exe
